.control-bar {
  background-color: $darkred;
  color: white;
}

.control-bar__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-bar__timer {
  margin: 0 $standardMargin;
}