.label-data-pair {
}

.label-data-pair--center {
  text-align: center;
}

.label-data-pair__label {
  font-size: $labelFontSize;
  font-weight: $labelFontWeight;
  margin: $miniMargin;
}

.label-data-pair__data {
  font-size: $textFontSize;
  font-weight: $textFontWeight;
  margin: $miniMargin;
}

.label-data-pair--flex-grow {
  flex-grow: 1;
}

.label-data-pair--h-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.label-data-pair__label--size-l {
  font-size: 1.6 * $labelFontSize;
}

.label-data-pair__data--size-l {
  font-size: 1.6 * $textFontSize;  
}