.journal-item {
  background-color: white;
  border: 1px black solid;
  border-radius: 1rem;
  margin-bottom: $standardMargin;
  padding: $standardMargin;
}

.journal-item__row {
  margin: $standardMargin 0;
}

.journal-item__date-time {
  display: flex;
  align-items: center;
  justify-content: left;
}

.journal-item__pair {
  padding: $miniMargin;
}

.journal-item__label {
  font-size: $labelFontSize;
  font-weight: $labelFontWeight;
}

.journal-item__data {
  font-size: $textFontSize;
  font-weight: $textFontWeight;
}

.journal-item__icon {
  height: 4rem;
  margin-right: 1rem;
  width: 4rem;
}

.journal-item__icon--check {
  fill: green;
}

.journal-item__icon--cross {
  fill: red;
}

.journal-item__link {
  color: #555;
}

.journal-item--italic {
  font-style: italic;
}